<!DOCTYPE html>
<html lang="en">
{% from "_formhelpers.html" import get_css, render_field %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find trips</title>
    {{get_css()}}
</head>

<body>
    <form class="container" method="post" style="display: flex;flex-direction: column; align-items: center;">
        {{ form.hidden_tag() }}
        {% if error is defined %}
        <div style="color: red;text-align: center;">
            {{error}}
        </div>
        {% endif %}
        {{render_field(form.service)}}
        {{render_field(form.route)}}
        {{render_field(form.trip)}}
        {{render_field(form.submit)}}

    </form>

    {% if trips is defined %}
    <table>
        <thead>
            <th>Trip</th>
        </thead>
        <tbody>
            {% for trip in trips %
            <tr><a href="{{url_for('view_trip', trip_id=trip)}}">{{trip}}</a></tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


</body>

</html>