<!DOCTYPE html>
<html lang="en">
{% from "_formhelpers.html" import get_css, render_field  %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload GTFS master Excel</title>
    {{get_css()}}
</head>
<body>
    <form  class="container" method="post" style="display: flex;flex-direction: column; align-items: center;">
    {{ form.hidden_tag() }}
    {% if error is defined %}
    <div style="color: red;text-align: center;">
        {{error}}
    </div>
    {% endif %}
    {{render_field(form.file)}}
    {{render_field(form.submit)}}
</form>

</body>
</html>